<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ELearn</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="../admin-panel/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/admin-panel/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/admin-panel/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/admin-panel/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/admin-panel/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <!-- <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <img src="https://api.logo.com/api/v2/images?format=webp&logo=logo_d2df6ff8-6ccc-4b21-881c-f1070469b2c4&width=2000&quality=100&background=transparent&fit=contain&u=1668407304"  alt="" width="100" height="40">
                </a>
                <!-- <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div>
                </div> -->
                <div class="navbar-nav w-100">
                    <a href="/admin/admin-dashboard" class="nav-item nav-link nav-click1"><i class="fa fa-user me-2"></i>Dashboard</a>

                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/adminpanel" class="nav-item nav-link nav-click1"><i class="fa fa-user me-2"></i>Users</a>

                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/viewproducts" class="nav-item nav-link nav-click2"><i class="fa fa-book me-2"></i>Products</a>

                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/addproduct" class="nav-item nav-link nav-click3 active"><i class="fa fa-book me-2"></i>Add product</a>

                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/viewcategory" class="nav-item nav-link nav-click4"><i class="fa fa-book me-2"></i>Categories</a>

                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/viewlanguages" class="nav-item nav-link nav-click4"><i class="fa fa-book me-2"></i>Languages</a>

                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/orders" class="nav-item nav-link nav-click4"><i class="fa fa-book me-2"></i>Sales Report</a>

                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content ">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <!-- <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form> -->
                <div class="navbar-nav align-items-center ms-auto">
                   

                    


                                    <div class="mt-3">
                                     <a class="btn btn-danger " type="submit" href="/admin/logout">logout</a>
                                    </div>


                       
                </div>
            </nav>
        
            <!-- Navbar End -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Add product</h6>
                            <form method="post" action="/admin/addproduct" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Course name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" name="name" required>
                                        <% if(productErr){%><p style="color:red ;">product already exists</p><%}%>

                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Price</label>
                                    <input type="number" class="form-control" id="exampleInputPassword1" name="price" required>  
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Category</label>
                                    <select name="category" id="" class="group input-group form-control" required >
                                    <option value="" disabled selected>Select your option</option>    
                                    <% categories.forEach(function(categories,index){%>
                                        <option value="<%=categories._id%>">
                                            <%=categories.name%>
                                        </option>
                                        <%})%>
                                    </select>
                                    
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">description</label>
                                    <input type="text" class="form-control" id="" name="description" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">To Learn (seperate points with '*')</label>
                                    <input type="text" class="form-control" id="" name="learn" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Requirements (seperate points with '*')</label>
                                    <input type="text" class="form-control" id="" name="requirements" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Language</label>
                                    <select name="language" id="" class="group input-group form-control" required >
                                        <option value="" disabled selected>Select your option</option>
                                        <% languages.forEach(function(languages,index){%>
                                            <option value="<%=languages._id%>">
                                                <%=languages.language%>
                                            </option>
                                            <%})%>

                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Hours</label>
                                    <input type="number" class="form-control" id="" name="hours" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thumbnail</label>
                                    <input type="file" class="form-control" id="" name="image" required accept="image/*">
                                </div>
                                <div class="mb-3" id="videoInput">
                                    <label class="form-label">Videos</label>
                                    <input type="file" class="form-control" id="" name="video" required accept="video/*" >
                                    
                                    
                                </div>
                                <button class="btn btn-success float-end mt-1" type="button" onclick="addMore()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                <script>
                                    function addMore(){
                                       let mainDiv=document.getElementById('videoInput')
                                       let newInput=document.createElement('div')
                                       newInput.innerHTML='<input type="file" class="form-control mt-3" id="" name="video"  accept="video/*" >'
                                       mainDiv.appendChild(newInput)
                                    }
                                </script>

                                
                                <!-- <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div> -->
                                <button type="submit" class="btn btn-primary mt-5">Next</button>
                            
                            </form>
                        </div>
                    </div>
                </div>
             </div>
        
 <%-include('../admin/layout/admin-foot.ejs') -%>