<!DOCTYPE html>
<html lang="en">
<head>
<title>Elearn</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Elearn project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/homeview/styles/bootstrap4/bootstrap.min.css">
<link href="/homeview/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/homeview/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/homeview/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/homeview/plugins/OwlCarousel2-2.2.1/animate.css">
<link href="/homeview/plugins/video-js/video-js.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/homeview/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="/homeview/styles/responsive.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/homeview/styles/courses.css">
<link rel="stylesheet" type="text/css" href="/homeview/styles/courses_responsive.css">
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header">
			
		<!-- Top Bar -->
		

	
		<!-- Header Content -->
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo_container">
								<a href="/">
									<div class="logo_content d-flex flex-row align-items-end justify-content-start">
										<div class="logo_img"><img src="/assets/images/e-learn logo.png" alt="" width="30" height="30"></div>
										<div class="logo_text my-auto">E learn</div>
									</div>
								</a>
							</div>
							<nav class="main_nav_contaner mx-auto">
								<ul class="main_nav">
									<li ><a href="/" class="">home</a></li>
									<li class="active"><a href="/viewproducts/1">courses</a></li>
									<li><a href="/aboutus" class="">about us</a></li>
									<li class=""><a href="/profile">Profile</a></li>
					<li><div class="my-auto"><a href="/cart"><i class="cart fa fa-shopping-cart" aria-hidden="true"></i></a></div></li>
					<li><div class="my-auto"><a href="/wishlist"><i class="cart fa fa-heart" aria-hidden="true"></i></a></div></li>
					</ul>
                    
                     
                    </div>
                 </div>
                  
								
								<!-- <div class="search_button my-auto"><i class="fa fa-search" aria-hidden="true"></i></div> -->

								<!-- Hamburger -->

								<div class="hamburger menu_mm my-auto mr-3">
									<i class="fa fa-bars menu_mm " aria-hidden="true"></i>
								</div>
					</nav>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Search Panel -->
		<div class="header_search_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_search_content d-flex flex-row align-items-center justify-content-end">
							<form action="/search" class="header_search_form">
								<input type="text" class="search_input" placeholder="Search" required="required" name="search">
								<button class="header_search_button d-flex flex-column align-items-center justify-content-center">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>			
		</div>			
	</header>

	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
	 <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
		<div class="search">
			<form action="/search" class="header_search_form menu_mm" method="post">
				<input type="search" class="search_input menu_mm " placeholder="Search" required="required" name="search">
				<button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
					<i class="fa fa-search menu_mm" aria-hidden="true"></i>
				</button>
			</form>
		</div>
		<nav class="menu_nav">
			<ul class="menu_mm">
				<li class="menu_mm"><a href="/">Home</a></li>
				<li class="menu_mm"><a href="/viewproducts/1">Courses</a></li>
				<!-- <li class="menu_mm"><a href="instructors.html">Instructors</a></li>
				<li class="menu_mm"><a href="#">Events</a></li> -->
				<!-- <li class="menu_mm"><a href="blog.html">Blog</a></li> -->
				<li class="menu_mm"><a href="/profile">Profile</a></li>
				 <li class="menu_mm"><a href="/cart" >My cart</a></li>
				 <li class="menu_mm"><a href="/wishlist" >My wishlist</a></li>
			</ul>
		</nav>
		<div class="menu_extra">
			<div class="menu_phone"><span class="menu_title">phone:675565354342</span></div>
			<div class="menu_social">
				<span class="menu_title">follow us</span>
				<ul>
					<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</div>


    <!-- <div class="home">
    
    <div class="home_background parallax_background parallax-window" data-parallax="scroll" data-image-src="/homeview/images/courses.jpg" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">
                        <div class="home_title">About us</div>
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>About us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

    <!-- Courses -->

    <div class="courses">

        <div class="container">
            <div class="btn-group dropright">

                <button type="button" class="btn bg-transparent  dropdown-toggle-split" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i style="font-size:15px" class="fa fa-sort"></i>
                </button>
                <div class="dropdown-menu pl-3" >
                    <!-- Dropdown menu links -->

                    <a href="/viewproducts/sort/priceHightoLow" class="sortMenu">Price--High to Low</a>
                       <a href="/viewproducts/sort/priceLowtoHigh" class="sortMenu">Price--Low to High</a>
                       <a href="/viewproducts/sort/newest" class="sortMenu">Newest First</a>



                </div>
            </div>
            <div class="btn-group dropright">

                <button type="button" class="btn bg-transparent  dropdown-toggle-split" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i style="font-size:15px" class="fa fa-filter"></i>
                </button>
                <div class="dropdown-menu pl-3" >
                    <!-- Dropdown menu links -->
                    <h5 style="font-weight: bold;">Categories</h5>
                    <%category.forEach(function(category){%>
                        <a href="/viewproducts/filterCategory/<%=category._id%>" class="sortMenu"><%=category.name%></a><br>
                    <%})%>
                    <br><h5 style="font-weight: bold;">Languages</h5>
                    <%language.forEach(function(language){%>
                        <a href="/viewproducts/filterLanguage/<%=language._id%>" class="sortMenu"><%=language.language%></a><br>
                    <%})%>
                        
                       


                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="section_title text-center mt-3">
                        <h2>Choose your course</h2>
                    </div>
                    <div class="section_subtitle">Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod
                        pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis in. Aenean id
                        varius quam. Nullam bibendum interdum dui, ac tempor lorem convallis ut</div>
                </div>
            </div>

            <!-- Course Search -->
            <div class="row">

                <div class="col">
                    <div class="course_search">
                        <form action="/search"
                            class="course_search_form d-flex flex-md-row flex-column align-items-start justify-content-center" method="post">
                            <div><input type="text" class="course_input" placeholder="Search" required="required"
                                    id="myInput" name="search"></div>
                            
                            <button class="course_button"><span>search course</span><span class="button_arrow"><i
                                        class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Featured Course -->
            <!-- <div class="row featured_row">
            <div class="col-lg-6 featured_col">
                <div class="featured_content">
                    <div class="featured_header d-flex flex-row align-items-center justify-content-start">
                        <div class="featured_tag"><a href="#">Featured</a></div>
                        <div class="featured_price ml-auto">Price: <span>$35</span></div>
                    </div>
                    <div class="featured_title"><h3><a href="courses.html">Online Literature Course</a></h3></div>
                    <div class="featured_text">Maecenas rutrum viverra sapien sed fermentum. Morbi tempor odio eget lacus tempus pulvinar. Donec vehicula efficitur nibh, in pretium nulla interdum lacus vehicula efficitur nibh, in pretiumvehicula efficitur nibh, in pretium tempus non.</div>
                    <div class="featured_footer d-flex align-items-center justify-content-start">
                        <div class="featured_author_image"><img src="images/featured_author.jpg" alt=""></div>
                        <div class="featured_author_name">By <a href="#">James S. Morrison</a></div>
                        <div class="featured_sales ml-auto"><span>352</span> Sales</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 featured_col">
                <!-- Background image artist https://unsplash.com/@jtylernix -->
            <!-- <div class="featured_background" style="background-image:url(images/featured.jpg)"></div>
            </div>
        </div>  -->
            <div class="row courses_row" id="filterDiv">
                <% products.forEach(function(products,index){%>
                    <!-- Course -->
                    <a href="/productPage/<%=products._id%>">
                        <div class="col-12 col-lg-4 col-md-4" id="filterDiv">
                            <div class="course">
                                <div class="course_image"><img src="/assets/images/thumbnails/<%=products.imageUrl%>"
                                        alt=""></div>
                                <div class="course_body">
                                    <div class="course_header d-flex flex-row align-items-center justify-content-start">
                                        <!-- <div class="course_tag"><a href="#">Featured</a></div> -->
                                        <%if(!products.users.includes(user)){%>
                                            <div class="course_price ml-auto">Price: <span>₹<%=products.price%></span>
                                            </div>
                                            <%}%>

                                    </div>
                                    <div class="course_title" id="filterHead">
                                        <h3><a href="/productPage/<%=products._id%>">
                                                <%=products.courseName%>
                                            </a></h3>
                                    </div>
                                    <div class="course_text course_description">
                                        <%=products.description%>
                                    </div>
                                    <div class="course_footer d-flex align-items-center justify-content-start">
                                        <!-- <div class="course_author_image"><img src="images/featured_author.jpg" alt="https://unsplash.com/@anthonytran"></div>
                            <div class="course_author_name">By <a href="#">James S. Morrison</a></div> -->

                                        <!-- <div class="course_sales ml-auto"><span>352</span> Sales</div> -->
                                        <!-- <div class="button"><a href="/add-to-cart/<%=products._id%>" class="">Add to cart</a></div> -->

                                        <% if(products.users.includes(user)){%>
                                            <a href="/productPage/<%=products._id%>">click here to Learn<a>
                                                    <%}else{%>
                                                        <%if(cartItems.products.includes(products._id)){%>
                                                            <div class="button"><a class="" style="color:white ;"
                                                                    href="/cart">Go to cart</a></div>
                                                            <%}else{%>
                                                                <div class=""><button class="button"
                                                                        style="color:white ;"
                                                                        onclick="addToCart('<%=products._id%>')">Add to
                                                                        cart</button></div>

                                                                <%}%>

                                                                    <div class="ml-2"><button class="btn btn-danger"
                                                                            style="color:white ;"
                                                                            onclick="addToWhishlist('<%=products._id%>')"><i
                                                                                class="fa fa-heart"></i></button></div>

                                                                    <%} %>


                                                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <%})%>

                        <!-- Course -->


            </div>

            <!-- Pagination -->
            <div class="row">
                <div class="col">
                    <div class="courses_paginations">
                        <ul>
                            <%for(let i=1;i<=pageNumber;i++){%>

                                <li class=""><a href="/viewproducts/<%= i  %>">
                                        <%= i %>
                                    </a></li>

                                <%}%>


                        </ul>
                    </div>
                </div>
            </div>
            <p class="mt-3">page: <%=pageNo%>
            </p>
        </div>
    </div>
    <%-include('../user/layout/user-foot.ejs')-%>