<!DOCTYPE html>
<html lang="en">

<head>
	<title>Elearn</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Elearn project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../homeview/styles/bootstrap4/bootstrap.min.css">
	<link href="../homeview/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="../homeview/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="../homeview/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="../homeview/plugins/OwlCarousel2-2.2.1/animate.css">
	<link href="../homeview/plugins/video-js/video-js.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="../homeview/styles/main_styles.css">
	<link rel="stylesheet" type="text/css" href="../homeview/styles/responsive.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>

	<div class="super_container">

		<!-- Header -->

		<header class="header">

			<!-- Top Bar -->
			<% if(!logged){%>
				<div class="top_bar">
					<div class="top_bar_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div
										class="top_bar_content d-flex flex-row align-items-center justify-content-start">
										<ul class="top_bar_contact_list">
											<li>
												<div class="question">Have any questions?</div>
											</li>
											<li>
												<div>(009) 35475 6688933 32</div>
											</li>
											<li>
												<div>info@elaerntemplate.com</div>
											</li>
										</ul>
										<div class="top_bar_login ml-auto">
											<ul>
												<li><a href="/signup">Register</a></li>
												<li><a href="/signin">Login</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%}%>



					<!-- Header Content -->
					<div class="header_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div
										class="header_content d-flex flex-row align-items-center justify-content-start">
										<div class="logo_container">
											<a href="/">
												<div
													class="logo_content d-flex flex-row align-items-end justify-content-start">
													<div class="logo_img"><img src="../assets/images/e-learn logo.png"
															alt="" width="30" height="30"></div>
													<div class="logo_text my-auto">E learn</div>
												</div>
											</a>
										</div>
										<nav class="main_nav_contaner mx-auto">
											<ul class="main_nav">
												<li class="active"><a href="#">home</a></li>
												<li><a href="/viewproducts/1">courses</a></li>
												<li><a href="/aboutus">about us</a></li>
												<li><a href="/profile">Profile</a></li>
												<li>
													<div class="ml-auto "><a href="/cart"><i
																class="fa fa-shopping-cart" aria-hidden="true"></i><span
																class="badge badge-danger ml-1">
																<%=cartCount%>
															</span></a></div>
												</li>
												<li>
													<div class=" ml-auto"><a href="/wishlist"><i
																class="fa fa-heart" aria-hidden="true"></i></a></div>
												</li>
											</ul>


									</div>
								</div>


								<!-- <div class="search_button my-auto"><i class="fa fa-search" aria-hidden="true"></i></div> -->



								<!-- Hamburger -->

								<div class="hamburger menu_mm my-auto">
									<i class="fa fa-bars menu_mm " aria-hidden="true"></i>
								</div>
								</nav>

							</div>
						</div>
					</div>
	</div>
	</div>

	<!-- Header Search Panel -->
	<div class="header_search_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_search_content d-flex flex-row align-items-center justify-content-end">
							<form action="#" class="header_search_form">
								<input type="search" class="search_input" placeholder="Search" required="required">
								<button class="header_search_button d-flex flex-column align-items-center justify-content-center">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>			
		</div>			
	</header>

	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
		<div class="menu_close_container">
			<div class="menu_close">
				<div></div>
				<div></div>
			</div>
		</div>
		<div class="search">
			<form action="/search" class="header_search_form menu_mm" method="post">
				<input type="search" class="search_input menu_mm " placeholder="Search" required="required" name="search">
				<button
					class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
					<i class="fa fa-search menu_mm" aria-hidden="true"></i>
				</button>
			</form>
		</div>
		<nav class="menu_nav">
			<ul class="menu_mm">
				<li class="menu_mm"><a href="/">Home</a></li>
				<li class="menu_mm"><a href="/viewproducts/1">Courses</a></li>
				<!-- <li class="menu_mm"><a href="instructors.html">Instructors</a></li>
				<li class="menu_mm"><a href="#">Events</a></li> -->
				<!-- <li class="menu_mm"><a href="blog.html">Blog</a></li> -->
				<li class="menu_mm"><a href="/profile">Profile</a></li>
				 <li class="menu_mm"><a href="/cart" >My cart</a></li>
				 <li class="menu_mm"><a href="/wishlist" >My wishlist</a></li>
			</ul>
	</nav>
	<div class="menu_extra">
		<div class="menu_phone"><span class="menu_title">phone:</span>(009) 35475 6688933 32</div>
		<div class="menu_social">
			<span class="menu_title">follow us</span>
			<ul>
				<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="home_slider_container">

			<!-- Home Slider -->
			<div class="owl-carousel owl-theme home_slider">

				<!-- Slider Item -->
				<div class="owl-item">
					<!-- Background image artist https://unsplash.com/@benwhitephotography -->
					<div class="home_slider_background" style="background-image:url(/homeview/images/carousal3.jpg)">
					</div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content text-center">
										<div class="home_logo mb-3"><img src="/assets/images/e-learn logo.png" alt=""
												class="slide_logo mx-auto"></div>
										<div class="home_text">
											<div class="home_title">Complete Online Courses</div>
											<div class="home_subtitle">Maecenas rutrum viverra sapien sed fermentum.
												Morbi tempor odio eget lacus tempus pulvinar. Praesent vel nisl
												fermentum, gravida augue ut, fermentum ipsum.</div>
										</div>
										<div class="home_buttons">
											<div class="button home_button"><a href="/aboutus">learn more<div
														class="button_arrow"><i class="fa fa-angle-right"
															aria-hidden="true"></i></div></a></div>
											<div class="button home_button"><a href="/viewproducts/1">see all courses
													<div class="button_arrow"><i class="fa fa-angle-right"
															aria-hidden="true"></i></div></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slider Item -->
				<div class="owl-item">
					<!-- Background image artist https://unsplash.com/@benwhitephotography -->
					<div class="home_slider_background" style="background-image:url(/homeview/images/carousal4.jpg)">
					</div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content text-center">
										<div class="home_logo"><img src="/assets/images/e-learn logo.png" alt=""
												class="slide_logo mx-auto"></div>
										<div class="home_text">
											<div class="home_title">Complete Online Courses</div>
											<div class="home_subtitle">Maecenas rutrum viverra sapien sed fermentum.
												Morbi tempor odio eget lacus tempus pulvinar. Praesent vel nisl
												fermentum, gravida augue ut, fermentum ipsum.</div>
										</div>
										<div class="home_buttons">
											<div class="button home_button"><a href="/aboutus">learn more<div
														class="button_arrow"><i class="fa fa-angle-right"
															aria-hidden="true"></i></div></a></div>
											<div class="button home_button"><a href="#">see all courses<div
														class="button_arrow"><i class="fa fa-angle-right"
															aria-hidden="true"></i></div></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slider Item -->
				

			</div>
		</div>
	</div>

	<!-- Featured Course -->

	<!-- <div class="featured">
		<div class="container">
			<div class="row">
				<div class="col"> -->
	<!-- Home Slider Nav -->
	<!-- <div class="home_slider_nav_container d-flex flex-row align-items-start justify-content-between">
						<div class="home_slider_nav home_slider_prev trans_200"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
						<div class="home_slider_nav home_slider_next trans_200"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
					</div>
					<div class="featured_container">
						<div class="row">
							<div class="col-lg-6 featured_col">
								<div class="featured_content">
									<div class="featured_header d-flex flex-row align-items-center justify-content-start">
										<div class="featured_tag"><a href="#">Featured</a></div>
										<div class="featured_price ml-auto">Price: <span>$35</span></div>
									</div>
									<div class="featured_title"><h3><a href="courses.html">Online Literature Course</a></h3></div>
									<div class="featured_text">Maecenas rutrum viverra sapien sed fermentum. Morbi tempor odio eget lacus tempus pulvinar. Donec vehicula efficitur nibh, in pretium nulla interdum non.</div>
									<div class="featured_footer d-flex align-items-center justify-content-start">
										<div class="featured_author_image"><img src="../homeview/images/featured_author.jpg" alt=""></div>
										<div class="featured_author_name">By <a href="#">James S. Morrison</a></div>
										<div class="featured_sales ml-auto"><span>352</span> Sales</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 featured_col"> -->
	<!-- Background image artist https://unsplash.com/@jtylernix -->
	<!-- <div class="featured_background" style="background-image:url(../homeview/images/featured.jpg)"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<!-- Courses -->

	<div class="courses">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="section_title text-center">
						<h2>Choose your course</h2>
					</div>
					<div class="section_subtitle">Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod
						pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis in. Aenean id
						varius quam. Nullam bibendum interdum dui, ac tempor lorem convallis ut</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="course_search">
						<form action="/search"
							class="course_search_form d-flex flex-md-row flex-column align-items-start justify-content-center" method="post">
							<div><input type="text" class="course_input form-control" placeholder="Course" required="required" name="search"></div>

							<button class="course_button"><span>search course</span><span class="button_arrow"><i
										class="fa fa-angle-right" aria-hidden="true"></i></span></button>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">

					<!-- Courses Slider -->

					<div class="courses_slider_container">
						<div class="courses_slider_nav courses_slider_prev trans_200"><i class="fa fa-angle-left"
								aria-hidden="true"></i></div>
						<div class="courses_slider_nav courses_slider_next trans_200"><i class="fa fa-angle-right"
								aria-hidden="true"></i></div>
						<div class="owl-carousel owl-theme courses_slider">
							<%products.forEach(function(products){%>
								<!-- Slider Item -->
								<div class="owl-item">
									<div class="course">
										<div class="course_image"><img
												src="/assets/images/thumbnails/<%=products.imageUrl%>" alt=""></div>
										<div class="course_body">
											<div
												class="course_header d-flex flex-row align-items-center justify-content-start">
												<div class="course_tag"><a href="#">Featured</a></div>
												<div class="course_price ml-auto">Price: <span>₹<%=products.price%>
															</span></div>
											</div>
											<div class="course_title">
												<h3><a href="/productPage/<%=products._id%>">
														<%=products.courseName%>
													</a></h3>
											</div>
											<div class="course_text course_description">
												<%=products.description%>
											</div>
											<div class="course_footer d-flex align-items-center justify-content-start">

											</div>
										</div>
									</div>
								</div>
								<%})%>

									<!-- Slider Item -	->
							
						
						<!-- Courses Slider Nav -->


						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Milestones -->



		<!-- Sections -->
		<hr>
		<div class="grouped_sections">
			<div class="container">
				<div class="row">

					<!-- Why Choose Us -->

					<div class="col-lg-4 grouped_col">
						<div class="grouped_title">Why Choose Us?</div>
						<div class="accordions">

							<div class="accordion_container">
								<div class="accordion d-flex flex-row align-items-center active">
									<div>Mauris vehicula nisi congue?</div>
								</div>
								<div class="accordion_panel">
									<div>
										<p>Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod
											pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem
											venenatis in. Aenean id varius quam.</p>
									</div>
								</div>
							</div>

							<div class="accordion_container">
								<div class="accordion d-flex flex-row align-items-center">
									<div>Vehicula nisi congue, blandit?</div>
								</div>
								<div class="accordion_panel">
									<div>
										<p>Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod
											pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem
											venenatis in. Aenean id varius quam.</p>
									</div>
								</div>
							</div>

							<div class="accordion_container">
								<div class="accordion d-flex flex-row align-items-center">
									<div>Mauris vehicula nisi congue?</div>
								</div>
								<div class="accordion_panel">
									<div>
										<p>Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod
											pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem
											venenatis in. Aenean id varius quam.</p>
									</div>
								</div>
							</div>

							<div class="accordion_container">
								<div class="accordion d-flex flex-row align-items-center">
									<div>Nisi congue, blandit purus sed?</div>
								</div>
								<div class="accordion_panel">
									<div>
										<p>Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod
											pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem
											venenatis in. Aenean id varius quam.</p>
									</div>
								</div>
							</div>

						</div>

					</div>

					<!-- Events -->

					<div class="col-lg-4 grouped_col">
						<div class="grouped_title">Trending Fields</div>
						<div class="events">

							<!-- Event -->
							<div class="event d-flex flex-row align-items-start justify-content-start">
								<div>
									<div
										class="event_date d-flex flex-column align-items-center justify-content-center">
										<div class="event_day"><a
												href="/viewproducts/filterCategory/63a1bd803319621c17146b08"
												class="text-white"><i class="fa fa-globe"></i></a></div>

									</div>
								</div>
								<div class="event_body">
									<div class="event_title"><a
											href="/viewproducts/filterCategory/63a1bd803319621c17146b08">Web
											Devolopment</a></div>
									<div class="event_subtitle">
										<p>
											<%=Counts.webDevolopmentLength%> Courses
										</p>
									</div>
								</div>
							</div>

							<!-- Event -->
							<div class="event d-flex flex-row align-items-start justify-content-start">
								<div>
									<div
										class="event_date d-flex flex-column align-items-center justify-content-center">
										<div class="event_day"><a
												href="/viewproducts/filterCategory/63872e5c732e87828fdb37f4"
												class="text-white"><i class="fa fa-database"></i></a></div>

									</div>
								</div>
								<div class="event_body">
									<div class="event_title"><a
											href="/viewproducts/filterCategory/63872e5c732e87828fdb37f4">DataScience</a>
									</div>
									<div class="event_subtitle">
										<p>
											<%=Counts.dataScienceLength%> Courses
										</p>
									</div>
								</div>
							</div>

							<!-- Event -->
							<div class="event d-flex flex-row align-items-start justify-content-start">
								<div>
									<div
										class="event_date d-flex flex-column align-items-center justify-content-center">
										<div class="event_day"><a
												href="/viewproducts/filterCategory/63872ef4732e87828fdb37fa"
												class="text-white"><i class="fab fa-python"></i></a></div>

									</div>
								</div>
								<div class="event_body">
									<div class="event_title"><a
											href="/viewproducts/filterCategory/63872ef4732e87828fdb37fa">Machine
											Learning</a></div>
									<div class="event_subtitle">
										<p>
											<%=Counts.machineLearningLength%> Courses
										</p>
									</div>
								</div>
							</div>

							<!-- Event -->
							<div class="event d-flex flex-row align-items-start justify-content-start">
								<div>
									<div
										class="event_date d-flex flex-column align-items-center justify-content-center">
										<!-- <div class="event_day">27</div> -->
										<div class="event_day"><a
												href="/viewproducts/filterCategory/63873c45ab2c97516ec9165a"
												class="text-white"><i class="fab fa-android"></i></a></div>
									</div>
								</div>
								<div class="event_body">
									<div class="event_title"><a
											href="/viewproducts/filterCategory/63873c45ab2c97516ec9165a">App
											Devolopment</a></div>
									<div class="event_subtitle">
										<p>
											<%=Counts.appDevolopmentLength%> Courses
										</p>
									</div>
								</div>
							</div>

							<!-- Event -->
							<div class="event d-flex flex-row align-items-start justify-content-start">
								<div>
									<div
										class="event_date d-flex flex-column align-items-center justify-content-center">
										<div class="event_day"><a
												href="/viewproducts/filterCategory/63872e73732e87828fdb37f7"
												class="text-white"><i class="fa fa-code"></i></a></div>
										<!-- <div class="event_month">April</div> -->
									</div>
								</div>
								<div class="event_body">
									<div class="event_title"><a
											href="/viewproducts/filterCategory/63872e73732e87828fdb37f7">Basic
											Coding</a></div>
									<div class="event_subtitle">
										<p>
											<%=Counts.basicCodingLength%> Courses
										</p>
									</div>
								</div>
							</div>

						</div>
					</div>

					<!-- News -->

					<div class="col-lg-4 grouped_col">
						<div class="grouped_title">Latest Courses</div>
						<div class="news">
							<%latestProducts.forEach(function(product){%>
								<!-- Latest Courses -->
								<div class="news_post d-flex flex-row align-items-start justify-content-start">
									<div>
										<div class="news_post_image"><img
												src="/assets/images/thumbnails/<%=product.imageUrl%>"
												alt="https://unsplash.com/@beccatapert"></div>
									</div>
									<div class="news_post_body">
										<div class="news_post_date">Latest</div>
										<div class="news_post_title"><a href="/productPage/<%=product._id%>"
												style="font-size:10px ;">
												<%=product.courseName%>
											</a></div>
										<div class="news_post_author">₹ <a>
												<%=product.price%>
											</a></div>
									</div>
								</div>
								<%})%>

									<!-- Latest COurse -->

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Video -->

		<!-- Footer -->

		<footer class="footer">
			<div class="container">
				<div class="row">
		
					<!-- About -->
					<div class="col-lg-3 footer_col">
						<div class="footer_about">
							<div class="logo_container">
								<a href="/">
									<div class="logo_content d-flex flex-row align-items-end justify-content-start">
										<div class="logo_img"><img src="/assets/images/e-learn logo.png" alt="" width="30" height="30"></div>
										<div class="logo_text ml-2 mb-2">E learn</div>
									</div>
								</a>
							</div>
							<!-- <div class="footer_about_text mr-5">
								<p>Maecenas rutrum viverra sapien sed fermentum. Morbi tempor odio eget lacus tempus
									pulvinar.</p>
							</div> -->
							
							<!-- <div class="footer_social">
								<ul>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								</ul>
							</div> -->
		
						</div>
					</div>
		
					<!-- <div class="col-lg-3 footer_col ">
						<div class="footer_links">
							<div class="footer_title">Quick menu</div>
							<ul class="footer_list">
								<li><a href="/">Home</a></li>
								<li><a href="about.html">About us</a></li>
		
		
							</ul>
						</div>
					</div> -->
		
					<!-- <div class="col-lg-3 footer_col">
						<div class="footer_links">
							<div class="footer_title">Useful Links</div>
							<ul class="footer_list">
								<li><a href="courses.html">Courses</a></li>
								<li><a href="#">Events</a></li>
								<li><a href="news.html">News</a></li>
								<li><a href="#">Teachers</a></li>
								<li><a href="#">Links</a></li>
								<li><a href="#">FAQ</a></li>
							</ul>
						</div>
					</div> -->
		
					<div class="col-lg-3 footer_col ml-5">
						<div class="footer_contact">
							<div class="footer_title">Contact Us</div>
							<div class="footer_contact_info">
								<!-- <div class="footer_contact_item">
									<div class="footer_contact_title">Address:</div>
									<div class="footer_contact_line">1481 Creekside Lane Avila Beach, CA 93424</div>
								</div> -->
								<div class="footer_contact_item">
									<div class="footer_contact_title">Phone:</div>
									<div class="footer_contact_line">+91 8157052387</div>
								</div>
								<div class="footer_contact_item">
									<div class="footer_contact_title">Email:</div>
									<div class="footer_contact_line">124elearn@gmail.com</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	
	<script src="/homeview/js/jquery-3.2.1.min.js"></script>
	<script src="/homeview/styles/bootstrap4/popper.js"></script>
	<script src="/homeview/styles/bootstrap4/bootstrap.min.js"></script>
	<script src="/homeview/plugins/greensock/TweenMax.min.js"></script>
	<script src="/homeview/plugins/greensock/TimelineMax.min.js"></script>
	<script src="/homeview/plugins/scrollmagic/ScrollMagic.min.js"></script>
	<script src="/homeview/plugins/greensock/animation.gsap.min.js"></script>
	<script src="/homeview/plugins/greensock/ScrollToPlugin.min.js"></script>
	<script src="/homeview/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
	<script src="/homeview/plugins/easing/easing.js"></script>
	<!-- <script src="/homeview/plugins/video-js/video.min.js"></script> -->
	<!-- <script src="/homeview/plugins/video-js/Youtube.min.js"></script> -->
	<script src="/homeview/plugins/parallax-js-master/parallax.min.js"></script>
	<script src="/homeview/js/custom.js"></script>
</body>

</html>